* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
  font-weight: 500;
}
nav a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
nav button {
  border-radius: 10px;
  margin: 0 10px 0 10px;
  padding: 15px 20px;
  background: white;
  border: 1px solid red;
  color: red;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
nav button:hover {
  transform: scale(1.05);
  background-color: red;
  color: white;
}
.logo {
  width: 200px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-items {
  display: flex;
}
.container {
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
.features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 100px;
}
.feature-box {
  text-align: left;
  padding: 20px;
  width: 30%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.blogs {
  margin: 50px 0;
}
.blogs h2 {
  margin-bottom: 20px;
}
.blog-posts {
  display: flex;
  justify-content: space-between;
}
.blog-card {
  width: 30%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
}
.blog-card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 200px;
  object-fit: cover;
}
.signup-section {
  background-color: #fad02e;
  padding: 40px;
  width: 100vw;
  text-align: center;
}
.signup-form {
  background: white;
  padding: 20px;
  width: 35%;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 20px 0 20px 0;
  border: 0.5px solid rgb(153, 153, 153);
}
.signup-form button {
  padding: 10px 20px;
  width: 80%;
  background: #2256ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.required::after {
  content: " *";
  color: red;
}
footer {
  text-align: center;
  padding: 20px;
  width: 100vw;
  background: black;
  color: white;
}